{% extends "layout.html" %}
{% block body %}
<body onload="loadSDK()">
  <div class="grid">
    <div id="d0_0"></div>
    <div id="d1_0"></div>
    <div id="d2_0"></div>
    <div id="d3_0"></div>
    <div id="d4_0"></div><br clear=both>
    <div id="d0_1"></div>
    <div id="d1_1"></div>
    <div id="d2_1"></div>
    <div id="d3_1"></div>
    <div id="d4_1"></div><br clear=both>
    <div id="d0_2"></div>
    <div id="d1_2"></div>
    <div id="d2_2"></div>
    <div id="d3_2"></div>
    <div id="d4_2"></div><br clear=both>
    <div id="d0_3"></div>
    <div id="d1_3"></div>
    <div id="d2_3"></div>
    <div id="d3_3"></div>
    <div id="d4_3"></div><br clear=both>
    <div id="d0_4"></div>
    <div id="d1_4"></div>
    <div id="d2_4"></div>
    <div id="d3_4"></div>
    <div id="d4_4"></div><br clear=both>
  </div>
  <td>
    <button id="startBtn" disabled="disabled">Start</button>
    <button id="stopBtn" disabled="disabled">Stop</button>
  </td>
  <p id="insert"></p>
</body>
{% endblock %}