<!doctype html>
<title>LeapNLearn</title>
<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
<script src="http://js.leapmotion.com/leap-0.6.3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.3/require.min.js"></script>
<script src="https://rachit491.github.io/speech.browser.sdk.js"></script>
<style type="text/css">
	.highlight {
	  border: 5px red solid !important;
	}

	#slide {
	  background-color:white;
	  float: left;
	  width: 100%;
	  height: 100%;
	}

	.grid div {
	  width: 100px;
	  height: 100px;
	  float: left;
	  border: 5px black solid;
	}

</style>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript">
  var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<script type="text/javascript">
	/*
	 * Microsoft Bing Speech to Text API
	 */
	var key = {value: "969e5b575781433abeca615365fd3926"};
	// On document load resolve the SDK dependency
    function Initialize(onComplete) {
        require(["Speech.Browser.Sdk"], function(SDK) {
            onComplete(SDK);
            init();
        });
    }
    
    // Setup the recognizer
    function RecognizerSetup(SDK, recognitionMode, language, format, subscriptionKey) {
        
        switch (recognitionMode) {
            case "Interactive" :
                recognitionMode = SDK.RecognitionMode.Interactive;    
                break;
            case "Conversation" :
                recognitionMode = SDK.RecognitionMode.Conversation;    
                break;
            case "Dictation" :
                recognitionMode = SDK.RecognitionMode.Dictation;    
                break;
            default:
                recognitionMode = SDK.RecognitionMode.Interactive;
        }

        var recognizerConfig = new SDK.RecognizerConfig(
            new SDK.SpeechConfig(
                new SDK.Context(
                    new SDK.OS(navigator.userAgent, "Browser", null),
                    new SDK.Device("SpeechSample", "SpeechSample", "1.0.00000"))),
            recognitionMode,
            language, // Supported languages are specific to each recognition mode. Refer to docs.
            format); // SDK.SpeechResultFormat.Simple (Options - Simple/Detailed)

        // Alternatively use SDK.CognitiveTokenAuthentication(fetchCallback, fetchOnExpiryCallback) for token auth
        var authentication = new SDK.CognitiveSubscriptionKeyAuthentication(subscriptionKey);

        return SDK.CreateRecognizer(recognizerConfig, authentication);
    }

    // Start the recognition
    function RecognizerStart(SDK, recognizer) {
        recognizer.Recognize((event) => {
            /*
             Alternative syntax for typescript devs.
             if (event instanceof SDK.RecognitionTriggeredEvent)
            */
            switch (event.Name) {
                case "RecognitionTriggeredEvent" :
                    break;
                case "ListeningStartedEvent" :
                    break;
                case "RecognitionStartedEvent" :
                    break;
                case "SpeechStartDetectedEvent" :
                    console.log(JSON.stringify(event.Result)); // check console for other information in result
                    break;
                case "SpeechHypothesisEvent" :
                    UpdateRecognizedHypothesis(event.Result.Text, false);
                    //console.log(JSON.stringify(event.Result)); // check console for other information in result
                    break;
                case "SpeechFragmentEvent" :
                    UpdateRecognizedHypothesis(event.Result.Text, true);
                    //console.log(JSON.stringify(event.Result)); // check console for other information in result
                    break;
                case "SpeechEndDetectedEvent" :
                    OnSpeechEndDetected();
                    //console.log(JSON.stringify(event.Result)); // check console for other information in result
                    break;
                case "SpeechSimplePhraseEvent" :
                    UpdateRecognizedPhrase(JSON.stringify(event.Result, null, 3));
                    break;
                case "SpeechDetailedPhraseEvent" :
                    UpdateRecognizedPhrase(JSON.stringify(event.Result, null, 3));
                    break;
                case "RecognitionEndedEvent" :
                    OnComplete();
                    //console.log(JSON.stringify(event)); // Debug information
                    break;
                default:
                    console.log(JSON.stringify(event)); // Debug information
            }
        })
        .On(() => {
            // The request succeeded. Nothing to do here.
        },
        (error) => {
            console.error(error);
        });
    }

    // Stop the Recognition.
    function RecognizerStop(SDK, recognizer) {
        // recognizer.AudioSource.Detach(audioNodeId) can be also used here. (audioNodeId is part of ListeningStartedEvent)
        recognizer.AudioSource.TurnOff();
    }

    function UpdateRecognizedHypothesis(text, append) {
        /*if (append) 
            hypothesisDiv.innerHTML += text + " ";
        else 
            hypothesisDiv.innerHTML = text;*/
        if(!leapOn) {
        	moveHighlight(text);
        }
        /*var length = hypothesisDiv.innerHTML.length;
        if (length > 403) {
            hypothesisDiv.innerHTML = "..." + hypothesisDiv.innerHTML.substr(length-400, length);
        }*/
    }

    function OnSpeechEndDetected() {
        stopBtn.disabled = true;
        leapOn = true;
    }

    function UpdateRecognizedPhrase(json) {
        //hypothesisDiv.innerHTML = "";
        //phraseDiv.innerHTML += json + "\n";
        console.log(json);
    }

    function OnComplete() {
        startBtn.disabled = false;
        stopBtn.disabled = true;
        leapOn = true;
    }

    var startBtn, stopBtn, leapOn = true;

    function loadSDK() {
    	startBtn = document.getElementById("startBtn");
    	stopBtn = document.getElementById("stopBtn");
    	Initialize(function (speechSdk) {
	        SDK = speechSdk;
	        startBtn.disabled = false;
	        leapOn = true;
	    });
    }

	/*
	 *	LEAP MOTION GAME
	 */
	var imagePosMap = [];
	var matrix = [];
	var numMatrix = [];
	var prevX = 2;
	var prevY = 2;
	var x = 2, y = 2;
	var paths;
	var wordSet = new Set();
	var score = 0;

	/*var controllerOptions = {};
	  Leap.loop(controllerOptions, function (frame) {
	  	console.log(frame.hands);
	    if(frame.hands.length > 0) {
	    	for(i=0; i<frame.hands.length; i++) {
	    		var hand = frame.hands[i];
	    		console.log(hand.type + " >>>>");
	    	}
	    }
	  });*/

	function init() {

		var recognizer;
		var recognitionMode = {value: "Dictation"};
		var languageOptions = {value: "en-US"};

	    function Setup() {
	        recognizer = RecognizerSetup(SDK, recognitionMode.value, languageOptions.value, SDK.SpeechResultFormat["Simple"], key.value);
	    }

	    startBtn.addEventListener("click", function () {
            if (key.value == "") {
                alert("Please enter your Bing Speech subscription key!");
                return;
            } else {
                if (!recognizer || previousSubscriptionKey != key.value) {
                    previousSubscriptionKey = key.value;
                    Setup();
                }

                RecognizerStart(SDK, recognizer);
                startBtn.disabled = true;
                leapOn = false;
                stopBtn.disabled = false;
            }                
        });

        stopBtn.addEventListener("click", function () {
            RecognizerStop(SDK, recognizer);
            startBtn.disabled = false;
            leapOn = true;
            stopBtn.disabled = true;
        });

	  var ctl = new Leap.Controller({enableGestures: true});
	  
	  var swiper = ctl.gesture('swipe');

	  var totalDistance = 0;

	  var tolerance = 50;
	  var cooloff = 300;


	  var updateHighlight = function() {
	    $('.grid div').removeClass('highlight');
	    $('.grid #d'+x+"_"+y).addClass('highlight');
	  }

	  var slider = _.debounce(function(xDir, yDir, flag) {
	    prevX = x;
	    prevY = y;
	    if(flag == 0) {
	    	//MOVE BLOCK
		    var temp = matrix[y][x];
		    matrix[y][x] = matrix[(y+5+yDir)%5][(x+xDir+5)%5];
		    matrix[(y+5+yDir)%5][(x+xDir+5)%5] = temp; 
		    //console.log("prev");
		    //console.log(matrix);
		    temp = numMatrix[y][x];
		    numMatrix[y][x] = numMatrix[(y+5+yDir)%5][(x+xDir+5)%5];
		    numMatrix[(y+5+yDir)%5][(x+xDir+5)%5] = temp; 
		}
	    //console.log("next");
	    //console.log(matrix);
	    x += xDir;
	    x = (x + 5) % 5;
	    y += yDir;
	    y = (y + 5) % 5;
	    reRender();
	    updateHighlight();
	  }, cooloff);

	  swiper.update(function(g) {
	  	if(leapOn) {
		  	var frame = ctl.frame();
		    if (Math.abs(g.translation()[0]) > tolerance || Math.abs(g.translation()[1]) > tolerance) {
		      var xDir = Math.abs(g.translation()[0]) > tolerance ? (g.translation()[0] > 0 ? -1 : 1) : 0;
		      var yDir = Math.abs(g.translation()[1]) > tolerance ? (g.translation()[1] < 0 ? -1 : 1) : 0;
		      if(frame.hands[0].type == "right")
		      	slider(xDir, yDir, 0);
		      else if(frame.hands[0].type == "left")
		      	slider(xDir, yDir, 1);
		    }
		}
	  });

	  ctl.connect();
	  updateHighlight();

	  createImageMap();
	  loadAssets();
	  pyCall();
	 // for(var i = 0;i<paths.length;i++)
	   // console.log(paths[i]);
	}

	var xDir, yDir;
    var flag = false;

	function moveHighlight(voice) {
		var updateHighlight = function() {
		    $('.grid div').removeClass('highlight');
		    $('.grid #d'+x+"_"+y).addClass('highlight');
		  }

    	switch(voice) {
    		case "on": flag = true; xDir = 0; yDir = 0; break;
    		case "off": flag = false; xDir = 0; yDir = 0; break;
    		case "up" : xDir = 0; yDir = -1; break;
    		case "down" : xDir = 0; yDir = 1; break;
    		case "left" : xDir = -1; yDir = 0; break;
    		case "right" : xDir = 1; yDir = 0; break;
    		case "top left" : xDir = -1; yDir = -1; break;
    		case "top right" : xDir = 1; yDir = -1; break;
    		case "bottom left" : xDir = -1; yDir = 1; break;
    		case "bottom right" : xDir = 1; yDir = 1; break;
    		default: xDir = 0; yDir = 0;
    	}
    	prevX = x;
	    prevY = y;

	    if(flag) {
	    	//MOVE BLOCK
		    var temp = matrix[y][x];
		    matrix[y][x] = matrix[(y+5+yDir)%5][(x+xDir+5)%5];
		    matrix[(y+5+yDir)%5][(x+xDir+5)%5] = temp; 
		    //console.log("prev");
		    //console.log(matrix);
		    temp = numMatrix[y][x];
		    numMatrix[y][x] = numMatrix[(y+5+yDir)%5][(x+xDir+5)%5];
		    numMatrix[(y+5+yDir)%5][(x+xDir+5)%5] = temp; 
		}
	    
	    x += xDir;
	    x = (x + 5) % 5;
	    y += yDir;
	    y = (y + 5) % 5;
	    reRender();
	    updateHighlight();
    }

	function pyCall(){
	  paths = searchWord(matrix);
	  var params = new Array();
	   for(i=0;i<paths.length;i++){
	    if(!wordSet.has(paths[i]))
	      params.push(paths[i]);
	    wordSet.add(paths[i]);
	  }
	  var json_string = JSON.stringify(params);
	  /*$.ajax({
	    type: "POST",
	    url: "python/checkWord.py",
	    data: { param: json_string}
	  }).done(function( o ) {
	     score = o;
	     document.getElementById("insert").innerHTML = score;
	  });*/
	  $.getJSON($SCRIPT_ROOT + '/_check', {
	        wordlist: JSON.stringify(params)
	    }, function(data){
	        //console.log(data.result);
	        if(data.result != 0)
	        	score = parseInt(data.result);
	        document.getElementById("insert").innerHTML = "Score: " + score;
	    });
	}


	function reRender() {
	  for(var i=0; i<5; i++) {
	    for(var j=0; j<5; j++) {
	      num = numMatrix[i][j];
	      var elm = document.getElementById("d"+j+"_"+i);
	      elm.style.backgroundImage = "url('https://preview.ibb.co/iBvAMR/text_gray.jpg')";
	      elm.style.backgroundRepeat = "no-repeat";
	      elm.style.backgroundPositionX = imagePosMap[num].x + "px";//"-20px";     //-140px to move left
	      elm.style.backgroundPositionY = imagePosMap[num].y + "px";//"-14px";     //-115px to move down
	      elm.style.backgroundSize = "707%";
	      elm.setAttribute("data-value", imagePosMap[num].value);
	      //matrix[i].push(imagePosMap[num].value);
	      //numMatrix[i].push(num);
	    }
	  }
	  pyCall();
	}

	function getWeight(char) {
	  switch(char) {
	    case 'E': return 120;
	    case 'T': return 90;
	    case 'A':
	    case 'I':
	    case 'N':
	    case 'O':
	    case 'S': return 80;
	    case 'H': return 64;
	    case 'R': return 62;
	    case 'D': return 44;
	    case 'L': return 40;
	    case 'U': return 34;
	    case 'C': 
	    case 'M': return 30;
	    case 'F': return 25;
	    case 'Y':
	    case 'W': return 20;
	    case 'G': 
	    case 'P': return 17;
	    case 'B': return 16;
	    case 'V': return 12;
	    case 'K': return 8;
	    case 'Q': return 5;
	    case 'J': 
	    case 'X': return 4;
	    case 'Z': return 2;
	  }
	}

	function createImageMap() {
	  var char = 'A';
	  for(var i=0; i<6; i++) {
	    for(var j=0; j<5; j++) {
	      imagePosMap.push({x: -20-(j*140), y: -15-(i*115), value: char, weight: getWeight(char)});
	      char = String.fromCharCode(char.charCodeAt() + 1);
	      if(i==5 && j>=0) {
	        break;
	      }
	    }
	  }
	  //console.log(imagePosMap);
	}

	function getRandomLetters() {
	  //return Math.floor(Math.random() * 26);
	  var sumOfWeights = 0;
	  for(var i=0; i<26; i++) {
	    sumOfWeights += imagePosMap[i].weight;
	  }
	  var randomWeight = Math.floor(Math.random() * sumOfWeights) + 1;
	  for(var i=0; i<26; i++) {
	    randomWeight = randomWeight - imagePosMap[i].weight;
	      if(randomWeight <= 0)
	        return i;
	  }
	}

	function loadAssets() {
	  var num;
	  for(var i=0; i<5; i++) {
	    matrix[i] = [];
	    numMatrix[i] = [];
	    for(var j=0; j<5; j++) {
	      num = getRandomLetters();
	      var elm = document.getElementById("d"+j+"_"+i);
	      elm.style.backgroundImage = "url('https://preview.ibb.co/iBvAMR/text_gray.jpg')";
	      elm.style.backgroundRepeat = "no-repeat";
	      elm.style.backgroundPositionX = imagePosMap[num].x + "px";//"-20px";     //-140px to move left
	      elm.style.backgroundPositionY = imagePosMap[num].y + "px";//"-14px";     //-115px to move down
	      elm.style.backgroundSize = "707%";
	      elm.setAttribute("data-value", imagePosMap[num].value);
	      matrix[i].push(imagePosMap[num].value);
	      numMatrix[i].push(num);
	    }
	  }
	}

	function searchWord(matrix) {
    var rows = new Array();
    for(var i=0;i<5;i++){
        rows.push(matrix[i].join(""));
    }
    var cols = new Array();
    for(var i=0;i<5;i++){
        cols[i] = new Array();
        for(var j=0;j<5;j++){
            cols[i][j] = matrix[j][i];
        }
    } 
    var columns = new Array();
    for(var i=0;i<5;i++){
        columns.push(matrix[i].join(""));
    }

    var paths = new Array();

    for(var i=0;i<5;i++){
        getAllSubstrings(rows[i],paths);
    }
    for(var i=0;i<5;i++){
        getAllSubstrings(columns[i],paths);
    }
    return paths;
}

function getAllSubstrings(str,paths) {
    var i, j, result = [];
  
    for (i = 0; i < str.length; i++) {
        for (j = i + 1; j < str.length + 1; j++) {
            paths.push(str.slice(i, j));
        }
    }
  }
  
</script>
{% block body %}{% endblock %}